body {
    background: fixed rgb(6, 117, 151) url('/../Week 1 HTML Intro/images/Dylan cover pic.png') no-repeat;
    color: rgb(1, 156, 223);
    background-size: 1520px;
    position: static;
}

h1 {
    text-align: right;
    position: relative;
    margin-right: 10%;
    font-size: 600%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(10, 124, 159);
}

.sidebar {
    padding: 10px;
    margin: 0%;
    font-size: 150%;
    position: fixed;
    top: 20%;
    color: white;
}

#socialTitle {
    top: 53%;
    padding-left: 5px;
    font-size: 150%;
}

#social {
    top: 60%;
    font-size: 100%;
    margin-left: 1%;
    color:rgb(6, 117, 151);
    background-color: white;
}

#contents {
    font-size: 100%;
    top: 28%;
    left: 20px;
    color: rgb(4, 145, 176);
    background: rgb(255, 255, 255);
    padding-left: 20px;
}

img {
    border: solid;
    padding: 20px;
    margin: 20px;
}

section {
    margin-left: 180px;
    font-size: 125%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

audio {
    position: relative;
    left: 25%;
    border: solid;
    padding: 10px;
}

#headshot {
    margin-left: 300px;
}

#about {
    margin-top: 35%;
}

.cats {
    margin: 50px 80px 20px;
}
